* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 100%;
    height: auto;
}

.hero__container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.left__cont {
    position: relative;
    float: left;
    width: 50%;
    height: 100vh;
    background: #fcfcfc;
}

.logo_section {
    width: 20%;
    height: 10%;
    position: relative;
    left: 5%;
    display: grid;
    place-content: center;
}

.logo_section a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.logo_section a::after {
    content: '';
    width: 50%;
    height: 4px;
    background: rebeccapurple;
    position: absolute;
    top: 65%;
    left: 8%;
}

.intro__box {
    width: 100%;
    height: 90%;
    text-align: center;
}

.intro {
    width: 100%;
    height: 33%;
    font-size: 33px;
    position: relative;
    top: 18%;
    font-weight: 400;
    text-align: justify;
}

.intro p {
    /* margin: auto 120px; */
    position: relative;
    left: 20%;
    color: #535353;
}

.sub__intro {
    width: 100%;
    height: 10%;
    position: relative;
    top: 17%;
    color: #535353;
    font-weight: bold;
    font-size: 17px;
    text-align: justify;
}

.sub__intro p {
    /* margin: auto auto auto 120px; */
    position: relative;
    left: 20%;
    font-weight: 200;
}


/* scoial-media-link */

.social-media-link {
    width: 100%;
    height: 10%;
    position: relative;
    top: 17%;
    text-align: left;
    text-indent: 18%;
}

.social-media-link ul {
    list-style-type: none;
}

.social-media-link ul li {
    display: inline-block;
    margin: 0.6rem;
    font-size: 1.2rem;
}

.social-media-link a {
    color: rebeccapurple;
}

.social-media-link a:hover {
    opacity: .7;
}


/* Main Link Container Styling */

.main__link {
    width: 100%;
    height: 10%;
    position: relative;
    top: 18%;
    left: 1%;
    text-align: left;
    padding: 20px;
}

.main__link a {
    position: relative;
    left: 17%;
    text-decoration: none;
    color: white;
    padding: 17px 60px;
    background: rebeccapurple;
    box-shadow: 10px 10px 20px 0px rgba(39, 38, 38, 0.493);
    font-weight: 500;
    font-size: 15px;
    transition: all 500ms ease;
}


/* Main Link:hover  */

.main__link a:hover {
    background: none;
    color: rebeccapurple;
    border: .5px solid rebeccapurple;
    box-shadow: none;
    transition: all 500ms ease;
}


/* right Container Styling */

.right__cont {
    float: right;
    width: 50%;
    height: 100vh;
    position: relative;
    /*   background: rgb(255, 212, 55);*/
    background: rebeccapurple;
}


/* Menu Section Styling */

.menu_section {
    width: 55%;
    height: 60px;
    float: right;
    position: relative;
    right: 0;
    display: grid;
    place-content: center;
}

.menu_section .nav_list {
    list-style-type: none;
    position: relative;
    top: 20%;
    left: 0%;
    width: 100%;
    max-height: 60px;
}

.menu_section .nav_item {
    display: inline-block;
    margin: 0.8em;
}

.menu_section a {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.menu_section a:hover {
    border-bottom: 2px solid white;
}


/* DropDown Menu Option Styling */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 3px 4px 40px 0px rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.dropdown-content a {
    color: #3d3c3c;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background: rgb(185, 185, 185);
    color: white;
    opacity: 1;
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*Hero Image seciton */

.hero-image-section {
    width: 100%;
    height: 60%;
    position: relative;
    top: 14%;
    display: grid;
    place-content: center;
}


/* Image Section */

.img__section {
    width: 250px;
    height: 420px;
    background: white;
    overflow: hidden;
    transition: all 1200ms ease-in-out;
    border-radius: 10px;
}

.img__section .img__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 325px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 3px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 1200ms ease-in-out;
}


/* Image Container */

.img__container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: all 500ms ease;
}


/* Image Caption Styling */

.img__section .img__container .img__cap {
    position: absolute;
    top: 70.2%;
    width: 100%;
    height: 30%;
    background: #26292696;
    color: white;
    z-index: 3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 2px;
    transition: all 1200ms ease-in-out;
}

.img__cap h1 {
    text-indent: 7px;
    font-size: 17px;
    line-height: 70px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 212, 55);
    transition: all 1200ms ease-in-out;
}

.img__cap h2 {
    text-indent: 7px;
    font-size: 15px;
    margin-top: -20px;
    font-weight: 400;
    transition: all 1200ms ease-in-out;
}

.img__cap p {
    font-size: 14px;
    text-indent: 7px;
    color: rgb(216, 215, 215);
    transition: all 1200ms ease-in-out;
}


/* Project Container Styling */

.project_section {
    width: 100%;
    height: 160vh;
    padding: 1em;
}

.project_section h3 {
    font-size: 2.4rem;
    color: rgb(37, 37, 37);
    position: relative;
    top: 7%;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.project_section h3::before {
    content: '';
    position: absolute;
    top: 110%;
    left: 40%;
    width: 20%;
    height: 7px;
    border-radius: 30px;
    background: rebeccapurple;
}

.project_section .proj-desc {
    text-align: center;
    position: relative;
    top: 10%;
    color: #535353;
    font-size: 15px;
}

.project__cont {
    width: 90%;
    height: 100vh;
    margin: auto;
    position: relative;
    top: 18%;
}

.project {
    float: left;
    width: calc(33.33% - 50px);
    height: calc(50% - 50px);
    margin: 25px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 10px 10px 30px 0px rgba(39, 38, 38, 0.103);
}

.pro__img {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    overflow: hidden;
}

.pro__img p {
    /* color: rgb(31, 91, 202); */
    font-size: 5.4em;
    text-align: center;
    position: relative;
    top: 20%;
    transition: all 300ms ease;
    z-index: 3;
}

.pro__img img {
    width: 110%;
    height: auto;
    transition: all 200ms ease;
}

.project:hover .pro__img img {
    filter: blur(5px);
    transition: all 500ms ease;
}

.pro_cap {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 100%;
    text-align: left;
    display: grid;
    place-content: center;
    /* background: rgb(255, 212, 55); */
    background: rgba(39, 38, 38, 0.562);
    transition: all 400ms ease;
    padding: 0.6em;
    overflow: hidden;
    transform: translateX(-110%);
}

.project:hover .pro_cap {
    transform: translateX(0);
    transition: all 400ms ease;
}

.pro_title,
.proShort_desc {
    width: 95%;
    transition: all 300ms ease;
    color: white;
    margin: 4em 0 0 1em;
}

.pro_title {
    margin-left: 0.6em;
    font-size: 1.2rem;
    font-weight: 500;
}

.proShort_desc {
    margin-top: 0.8em;
    font-size: 0.8rem;
}

.pro_cap ul {
    list-style-type: none;
}

.pro_cap ul li {
    display: inline-block;
}

.pro_cap a {
    margin: 2em 1em;
    width: 50%;
    padding: 12px 20px;
    text-decoration: none;
    border: 1px solid #FFF;
    color: #FFF;
}

.pro_cap a:hover {
    background: white;
    color: #313030;
    transition: all 300ms ease;
}


/* Skills Content */

.skill_section {
    width: 100%;
    height: 100vh;
    background: #fcfcfc;
}

.skill_section .left_cont {
    width: 50%;
    height: 100%;
    float: left;
}

.skill_section .left_cont .abt-section {
    width: 80%;
    height: 100%;
    padding: 2em;
    text-align: left;
    position: relative;
    left: 15%;
    line-height: 1.5;
}

.abt-section .abt-title {
    font-size: 2.4rem;
    font-weight: 600;
    position: relative;
    top: 8%;
}

.abt-section .abt-desc {
    font-size: 15px;
    position: relative;
    top: 10%;
    width: 100%;
}

.abt-section .project-done-cont,
.volunteer-cont {
    float: left;
    width: 40%;
    height: 25%;
    box-shadow: 0px 0px 10px 0px rgba(39, 38, 38, 0.103);
    text-align: left;
    margin: 0.8em 2.8em 0.8em 0;
    padding-left: 2.4em;
    padding-top: 1em;
    font-size: 15px;
    font-weight: 400;
    color: grey;
    position: relative;
    top: 7rem;
}

.abt-section .abt-icon {
    color: rebeccapurple;
    font-size: 1.8rem;
}

.abt-section .abt-num {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(22, 22, 22);
}

.skill_section .rt_cont {
    float: right;
    width: 50%;
    height: 100%;
}

.skill_section .rt_cont .skill_cont {
    position: relative;
    top: 2%;
    left: 0;
    width: 100%;
    height: 100%;
}

.skill_section .skill_cont .title {
    font-size: 30px;
    font-weight: 500;
    color: #262926;
    position: relative;
    left: 5%;
    top: 9%;
    width: 50%;
    text-transform: capitalize;
}

.skill_section .title::before {
    content: '';
    position: absolute;
    width: 18%;
    height: 7px;
    background: rgb(255, 212, 55);
    bottom: 0;
    top: 160%;
    border-radius: 20px;
}

.skill-bar-section {
    width: 100%;
    height: 80%;
    position: relative;
    top: 14%;
}

.individual-skill {
    margin: 30px;
    width: 520px;
}

.skill_box {
    width: 90%;
    height: 15px;
    margin: 0.5rem;
    position: relative;
    top: 1%;
    left: 0%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgba(88, 40, 143, 0.147);
    padding: 0.2rem;
}

.skill_name {
    text-indent: 1%;
    font-weight: 500;
    color: #535353;
    font-size: 1rem;
    position: relative;
    top: 1%;
    left: 5px;
}

.skill_bar {
    width: 100%;
    height: 100%;
    background: rebeccapurple;
    border-radius: 20px;
}

.individual-skill:nth-child(1) .skill_box .skill_bar {
    width: 85%;
}

.individual-skill:nth-child(2) .skill_box .skill_bar {
    width: 90%;
}

.individual-skill:nth-child(3) .skill_box .skill_bar {
    width: 70%;
}

.individual-skill:nth-child(4) .skill_box .skill_bar {
    width: 75%;
}


/* Sign Up Section */

.sign_up_section {
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 5px 0px rgba(39, 38, 38, 0.103);
    overflow: hidden;
}

.sign_up_section .left_cont {
    float: left;
    width: 50%;
    height: 90%;
    background: rgb(58, 56, 66);
}

.sign_up_section .rt_cont {
    float: right;
    width: 50%;
    height: 90%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.sign_up_section .rt_cont .bg_cont {
    width: 100%;
    height: 100%;
    background: url("./image/work_together.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.sign_up_section .rt_cont .desc .title {
    width: 80%;
    font-size: 1.8rem;
    font-weight: 600;
    margin: auto;
}

.sign_up_section .rt_cont .desc {
    width: 90%;
    font-size: 18px;
    line-height: 1.5;
    margin: auto;
    position: relative;
    top: 8%;
    color: rgb(72, 79, 184);
}

.sign_up_cont {
    width: 80%;
    height: 85%;
    color: white;
    padding: 20px 30px 20px 40px;
    margin: 1rem auto;
}

.sign_up_cont .title {
    font-size: 1rem;
    font-weight: 600;
}

.sign_up {
    width: 100%;
    height: 100%;
}

.sign_up section {
    margin: 1rem;
}


/* Form */

#form {
    display: block;
    position: relative;
    top: 7%;
    width: 100%;
    height: 80%;
}

#form label,
input {
    display: block;
    width: 100%;
    height: 2.1rem;
}

#form label {
    height: 1.8em;
    font-weight: 400;
}

#form input {
    border: none;
    outline: none;
    padding: 10px;
}

#form input::placeholder {
    opacity: .7;
}

#form textarea {
    width: 100%;
}

#form .msg {
    margin-top: 1.6rem;
}

#form button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    background: rgb(236, 155, 4);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    transition: all 300ms ease;
}

#form button:hover {
    color: white;
    transition: all 300ms ease;
}

.contact_cont {
    width: 100%;
    height: 40vh;
    text-align: center;
    background: rebeccapurple;
    /* background: url("./image/purple_sidebox_bg.jpg"); */
}

.contact_cont p {
    position: relative;
    top: 15%;
    color: white;
}

.contact_cont .topic {
    font-weight: 600;
    font-size: 2.4em;
}

.contact_cont .desc {
    position: relative;
    top: 18%;
    margin: auto;
    height: 40px;
    width: 35%;
    color: #DDE;
}

.contact_cont .contact_link {
    font-size: 1em;
    font-weight: 600;
    color: white;
    padding: 10px 27px;
    border: 1px solid #FFF;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    top: 60px;
}

.social_link {
    width: 100%;
    height: 200px;
    text-align: right;
    position: relative;
    text-align: center;
}

.social_link .link_item {
    list-style-type: none;
    margin: auto;
    text-align: center;
}

.social_link .link_item li {
    display: inline-block;
    margin: .3rem;
}

.social_link .link_item li a {
    font-size: 1.2em;
    color: black;
    transition: all 400ms ease;
}

.social_link .link_item p {
    position: relative;
    font-size: 18px;
    color: black;
    top: 20%;
    font-weight: 500;
    line-height: 70px;
}

.social_link .link_item li a:hover {
    color: orange;
    transition: all 400ms ease;
}

.social_link .link_item li a:hover {
    color: orange;
    transition: all 400ms ease;
}

.social_link .copy_right {
    position: relative;
    top: 7%;
    color: #999797;
    text-decoration: underline;
}

@media screen and (max-width: 1080px) {
    .intro {
        top: 22%;
        font-size: 28px;
    }
    .sub__intro {
        font-size: 16px;
    }
    .main__link a {
        padding: 0.8rem 2.4rem;
    }
    .dropdown-content {
        left: -100%;
    }
    .sign_up_section .left_cont {
        width: 100%;
    }
    .sign_up {
        width: 80%;
    }
    .sign_up_section .rt_cont {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .hero__container .left__cont {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .hero__container .right__cont {
        display: none;
    }
    .sign_up_section .left_cont {
        width: 100%;
    }
    .sign_up {
        width: 100%;
    }
    .sign_up_section .rt_cont {
        display: none;
    }
    .dropdown-content {
        left: -100%;
    }
    .sign_up_section .left_cont {
        width: 100%;
    }
    .sign_up {
        width: 80%;
    }
    .sign_up_section .rt_cont {
        display: none;
    }
}
