* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    height: auto;
}

.hero__container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.left__cont {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background: #fcfcfc;
}

.lt-header {
    width: 100%;
    min-height: 10%;
}

.logo_section {
    width: 20%;
    height: 10%;
    position: relative;
    left: 5%;
    display: grid;
    place-content: center;
}

.logo_section a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.logo_section a::after {
    content: '';
    width: 50%;
    height: 4px;
    background: rebeccapurple;
    position: absolute;
    top: 80%;
    left: 8%;
}

.menu-icon,
.menu-section {
    display: none;
}

.intro__box {
    width: 100%;
    height: 90%;
    text-align: center;
}

.intro {
    width: 100%;
    height: 33%;
    font-size: 33px;
    position: relative;
    top: 18%;
    font-weight: 400;
    text-align: justify;
}

.intro p {
    /* margin: auto 120px; */
    position: relative;
    left: 20%;
    color: #535353;
}

.sub__intro {
    width: 100%;
    height: 10%;
    position: relative;
    top: 17%;
    color: #535353;
    font-weight: bold;
    font-size: 17px;
    text-align: justify;
}

.sub__intro p {
    /* margin: auto auto auto 120px; */
    position: relative;
    left: 20%;
    font-weight: 200;
}


/* scoial-media-link */

.social-media-link {
    width: 100%;
    height: 10%;
    position: relative;
    top: 17%;
    text-align: left;
    text-indent: 18%;
}

.social-media-link ul {
    list-style-type: none;
}

.social-media-link ul li {
    display: inline-block;
    margin: 0.6rem;
    font-size: 1rem;
}

.social-media-link a {
    color: rebeccapurple;
}

.social-media-link a:hover {
    opacity: .7;
}


/* Main Link Container Styling */

.main__link {
    width: 100%;
    height: 10%;
    position: relative;
    top: 18%;
    left: 1%;
    text-align: left;
    padding: 20px;
}

.main__link a {
    position: relative;
    left: 17%;
    text-decoration: none;
    color: white;
    background: rebeccapurple;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.4);
    padding: 15px 50px;
    border: .5px solid rebeccapurple;
    font-weight: 500;
    font-size: 15px;
    transition: all 200ms ease;
}


/* Main Link:hover  */

.main__link a:hover {
    background: none;
    color: rebeccapurple;
    transition: all 200ms ease;
}


/* right Container Styling */

.right__cont {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
    /*   background: rgb(255, 212, 55);*/
    background: rebeccapurple;
}


/* Menu Section Styling */

.menu_section {
    width: 55%;
    height: 60px;
    float: right;
    position: relative;
    right: 0;
    display: grid;
    place-content: center;
}

.menu_section .nav_list {
    list-style-type: none;
    position: relative;
    top: 20%;
    left: 0%;
    width: 100%;
    max-height: 60px;
}

.menu_section .nav_item {
    display: inline-block;
    margin: 0.8em;
}

.menu_section a {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.menu_section a:hover {
    border-bottom: 2px solid white;
}


/* DropDown Menu Option Styling */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    min-width: 160px;
    top: 15%;
    background-color: white;
    box-shadow: 3px 4px 40px 0px rgba(22, 22, 22, 0.4);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50%);
    transition: all 800ms ease;
}

.dropdown-content a {
    color: #3d3c3c;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background: rgb(134, 52, 216);
    color: white;
    opacity: 1;
    border: none;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(15%);
    transition: all 800ms ease;
}


/*Hero Image seciton */

.hero-image-section {
    width: 100%;
    height: 60%;
    position: relative;
    top: 14%;
    display: grid;
    place-content: center;
}


/* Image Section */

.img__section {
    width: 250px;
    height: 420px;
    background: white;
    overflow: hidden;
    transition: all 1200ms ease-in-out;
    border-radius: 10px;
}

.img__section .img__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 325px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 3px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 1200ms ease-in-out;
}


/* Image Container */

.img__container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: all 500ms ease;
}


/* Image Caption Styling */

.img__section .img__container .img__cap {
    position: absolute;
    top: 70.2%;
    width: 100%;
    height: 30%;
    background: #26292696;
    color: white;
    z-index: 3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 2px;
    transition: all 1200ms ease-in-out;
}

.img__cap h1 {
    text-indent: 7px;
    font-size: 17px;
    line-height: 70px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 212, 55);
    transition: all 1200ms ease-in-out;
}

.img__cap h2 {
    text-indent: 7px;
    font-size: 15px;
    margin-top: -20px;
    font-weight: 400;
    transition: all 1200ms ease-in-out;
}

.img__cap p {
    font-size: 14px;
    text-indent: 7px;
    color: rgb(216, 215, 215);
    transition: all 1200ms ease-in-out;
}


/* Project Container Styling */

.project_section {
    width: 100%;
    height: auto;
}

.project_section h3 {
    font-size: 2.4rem;
    color: rgb(37, 37, 37);
    position: relative;
    margin-top: 6%;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
}

.project_section .proj-desc {
    text-align: center;
    position: relative;
    width: 60%;
    color: #535353;
    font-size: 15px;
    margin: 1% auto;
}

.project_section .tabs-btn-section {
    width: 100%;
    height: auto;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.tabs-btn-section .tab-btn {
    margin: auto 1.8em;
    background: none;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #262926;
    cursor: pointer;
}

.active-tab-btn {
    color: rebeccapurple !important;
    text-decoration: underline;
}

.project__cont {
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
    margin-top: 4%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    animation: fadeEffect 1s;
}

.project {
    min-width: 280px;
    width: calc(33.33% - 50px);
    height: calc(330px - 50px);
    margin: 25px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 10px 10px 30px 0px rgba(39, 38, 38, 0.103);
}

.pro__img {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    overflow: hidden;
}

.pro__img p {
    /* color: rgb(31, 91, 202); */
    font-size: 5.4em;
    text-align: center;
    position: relative;
    top: 20%;
    transition: all 300ms ease;
    z-index: 3;
}

.pro__img img {
    width: 110%;
    height: auto;
    transition: all 200ms ease;
}

.project:hover .pro__img img {
    filter: blur(5px);
    transition: all 500ms ease;
}

.pro_cap {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 100%;
    text-align: left;
    background: #26292696;
    transition: all 800ms ease;
    padding: 0.6em;
    overflow: hidden;
    transform: translateY(110%);
    opacity: 0;
}

.project:hover .pro_cap {
    transform: translateY(0);
    opacity: 1;
    transition: all 800ms ease;
}

.pro_title,
.proShort_desc {
    width: 95%;
    transition: all 300ms ease;
    color: white;
    margin: 4em 0 0 1em;
}

.pro_title {
    margin-left: 0.6em;
    font-size: 1.2rem;
    font-weight: 500;
}

.proShort_desc {
    margin-top: 0.8em;
    font-size: 0.8rem;
}

.pro_cap ul {
    list-style-type: none;
}

.pro_cap ul li {
    display: inline-block;
}

.pro_cap a {
    margin: 2em 1em;
    width: 50%;
    padding: 12px 20px;
    text-decoration: none;
    border: 1px solid #FFF;
    color: #FFF;
    display: inline-block;
}

.pro_cap .project_link {
    float: left;
}

.pro_cap .code_link {
    float: right;
}

.pro_cap a:hover {
    background: white;
    color: #313030;
    transition: all 300ms ease;
}


/* Skills Content */

.skill_section {
    width: 100%;
    height: auto;
    /* padding: 10em 0; */
    /* background: #fcfcfc; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center; */
}

.skill_section .about-container {
    width: 100%;
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 0px rgba(39, 38, 38, 0.23);
}

.skill_section .left_cont {
    width: 50%;
    height: auto;
    position: relative;
    /* margin: 13% auto; */
    /* background-image: url('./image/mubariz-mehdizadeh-349292-unsplash.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat; */
}

.skill_section .left_cont .abt-section {
    /* width: 80%; */
    width: 100%;
    /* background: #1f211f4f; */
    height: 100%;
    text-align: left;
    line-height: 1.5;
    margin: auto;
    padding-top: 15%;
    padding-left: 8em;
    padding-right: 4em;
    /* color: white; */
    /* Change */
}

.abt-section .abt-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.abt-section .abt-desc {
    font-size: 15px;
    padding-top: 2em;
    font-weight: 500;
}

.abt-section .bottom-desc {
    width: 100%;
    height: auto;
    padding-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.abt-section .project-done-cont,
.volunteer-cont {
    width: 40%;
    box-shadow: 0px 0px 5px 0px rgba(39, 38, 38, 0.23);
    text-align: left;
    margin: 2em 2em 2em 0;
    padding: 1em 1em 1em 2.4em;
    padding-top: 1em;
    font-size: 15px;
    font-weight: 400;
    color: grey;
    /* color: white; */
    /* background: rgba(114, 53, 175, 0.514); */
}

.abt-section .abt-icon {
    color: rebeccapurple;
    /* color: white; */
    font-size: 1.8rem;
}

.abt-section .abt-num {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(22, 22, 22);
    /* color: white; */
}

.abt-section .bottom-skill {
    width: 100%;
    height: 40%;
    background: grey;
    position: relative;
    top: 50%;
}

.skill_section .rt_cont {
    width: 50%;
    height: auto;
    /* margin: 13% auto; */
}

.skill_section .rt_cont .skill_cont {
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
}

.skill_section .skill_cont .title {
    font-size: 30px;
    font-weight: 500;
    color: #262926;
    position: relative;
    left: 5%;
    top: 9%;
    width: 50%;
    text-transform: capitalize;
}

.skill_section .title::before {
    content: '';
    position: absolute;
    width: 18%;
    height: 7px;
    background: rgb(255, 212, 55);
    bottom: 0;
    top: 160%;
    border-radius: 20px;
}

.skill-bar-section {
    width: 100%;
    height: 80%;
    position: relative;
    top: 14%;
}

.individual-skill {
    margin: 30px;
    width: 520px;
}

.skill_box {
    width: 90%;
    height: 15px;
    margin: 0.5rem;
    position: relative;
    top: 1%;
    left: 0%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgba(88, 40, 143, 0.147);
    padding: 0.2rem;
    background: white;
}

.skill_name {
    text-indent: 1%;
    font-weight: 500;
    color: #535353;
    font-size: 1rem;
    position: relative;
    top: 1%;
    left: 5px;
}

.skill_bar {
    width: 100%;
    height: 100%;
    background: rebeccapurple;
    border-radius: 20px;
}

.individual-skill:nth-child(1) .skill_box .skill_bar {
    width: 85%;
}

.individual-skill:nth-child(2) .skill_box .skill_bar {
    width: 80%;
}

.individual-skill:nth-child(3) .skill_box .skill_bar {
    width: 70%;
}

.individual-skill:nth-child(4) .skill_box .skill_bar {
    width: 75%;
}

.work-section {
    width: 100%;
    height: auto;
    padding: 6em 2em 4em 2em;
    /* color: white; */
    /* -webkit-clip-path: polygon(0 13%, 100% 0, 100% 84%, 0 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 84%, 0 100%); */
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
    /* background: lightgrey; */
}

.work-section .title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 5%;
}

.work-section .work-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 7%;
}

.work-container .work-box {
    width: calc(33.33% - 30px);
    margin: 15px;
    height: auto;
    border-right: 0.5px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-items: center;
}

.work-box:nth-child(3) {
    border: none;
}

.work-box .work-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.work-box .img-section {
    font-size: 5rem;
    padding: 0.3em;
}

.work-box .work-desc {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 1em;
}

.tech-section {
    width: 100%;
    height: auto;
    padding: 2em;
    padding-top: 7em;
    margin: 5% auto;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.tech-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tech-header {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
}

.tech-sub-header {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(54, 54, 54);
}

.tech-container .tech-box {
    width: calc(33.33% - 60px);
    min-height: 300px;
    margin: 30px;
    padding: 2em 2em 2em 3em;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 5px 20px 0px rgba(88, 40, 143, 0.147);
}

.tech-box .tech-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: red;
}

.tech-box .separater-line {
    width: 30px;
    height: 4px;
    background: yellow;
    border-radius: 10px;
}

.tech-box table th {
    font-size: 1.4rem;
    text-align: left;
}

.tech-box table tr .table-icon {
    font-size: 2.4rem;
}

.tech-box table tr td {
    font-weight: 600;
    border-collapse: collapse;
    padding: auto 2em;
    box-sizing: border-box;
}

.contact-section {
    width: 100%;
    height: auto;
    padding: 2em;
    display: grid;
    place-items: center;
    background: rebeccapurple;
}

.contact-section .contact-container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2em;
}

.contact-container section {
    display: block;
    padding: 1em 2em 2em 4em;
}

.contact-container .contact-title,
.contact-sub-title {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    margin-bottom: 7%;
}

.contact-title {
    font-size: 2rem;
    color: white;
    margin-top: 5%;
}

form label,
input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 1em;
    background: transparent;
    color: white;
}

form label {
    font-size: 1.2rem;
    font-weight: 400;
    text-indent: -18px;
}

form input {
    font-size: 1.4rem;
    border-bottom: 3px solid white;
}

input:focused {
    border: none;
    outline: none;
}

form .name-section {
    width: 50%;
    float: left;
}

form .email-seciton {
    width: 50%;
    float: right;
}

form .msg-section {
    width: 100%;
}

input::placeholder {
    color: white;
    opacity: 0.8;
}

#msg {
    width: 100%;
    padding: 1em;
    font-size: 1.4rem;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    min-height: 200px;
}

.copy-right {
    width: 100%;
    min-height: 120px;
    text-align: center;
    line-height: 120px;
}


/* Fade Effect for TabContent */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1080px) {
    .intro {
        top: 22%;
        font-size: 28px;
    }
    .sub__intro {
        font-size: 16px;
    }
    .main__link a {
        padding: 0.8rem 2.4rem;
    }
    .dropdown-content {
        left: -100%;
    }
    .sign_up_section .left_cont {
        width: 100%;
    }
    .sign_up {
        width: 80%;
    }
    .sign_up_section .rt_cont {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .hero__container {
        padding: 1.4em;
    }
    .hero__container .left__cont {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .lt-header {
        width: 100%;
        min-height: 10%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .logo_section {
        width: 100%;
        height: 100%;
        left: 0;
        text-align: center;
        justify-content: flex-start;
    }
    .logo_section a {
        padding: 10px;
    }
    .logo_section a::after {
        top: 80%;
        left: 12%;
    }
    .menu-icon {
        display: block;
        width: 100%;
    }
    .hamburger-menu-icon {
        position: fixed;
        right: 10%;
        top: 5%;
        color: rgb(22, 22, 22);
    }
    .menu-icon:hover>.menu-section {
        visibility: visible;
    }
    .menu-section {
        display: block;
        width: 100%;
        height: auto;
        z-index: 1;
        visibility: hidden;
        box-shadow: 0px 10px 15px rgba(88, 40, 143, 0.147);
    }
    .menu-section a {
        display: block;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: rebeccapurple;
        transition: all 200ms ease;
    }
    .menu-section a:hover {
        background: rebeccapurple;
        color: #FFF;
        transition: all 200ms ease;
    }
    .intro {
        font-size: 24px;
        top: 18%;
    }
    .sub__intro {
        font-size: 14px;
        top: 21%;
    }
    .social-media-link {
        top: 18%;
    }
    .main__link {
        top: 17%;
    }
    .hero__container .right__cont {
        display: none;
    }
    .project_section {
        width: 100%;
        height: auto;
    }
    .project_section h3 {
        font-size: 1.6rem;
    }
    .project_section .proj-desc {
        font-size: 14px;
        margin-top: 20px;
        width: 80%;
    }
    .tabs-btn-section {
        padding: 2em;
        width: 80%;
    }
    .tabs-btn-section .tab-btn {
        margin: auto 0.4em;
    }
    .project__cont {
        width: 100%;
    }
    .project_section .project {
        width: 320px;
        height: 280px;
        position: relative;
    }
    .skill_section .left_cont {
        width: 100%;
        padding: 0;
    }
    .skill_section .abt-section {
        padding: 0;
    }
    .abt-section .project-done-cont,
    .volunteer-cont {
        width: 100%;
        /* min-height: 120px !important; */
    }
    .skill_section .rt_cont {
        display: none;
    }
    .sign_up_section .left_cont {
        width: 100%;
    }
    .sign_up {
        width: 100%;
    }
    .sign_up_section .rt_cont {
        display: none;
    }
    .dropdown-content {
        left: -100%;
    }
    .work-box {
        width: 100% !important;
        border: none !important;
    }
    .tech-section {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .tech-container {
        width: 100%;
        height: auto;
    }
    .tech-box {
        width: 100% !important;
        height: auto;
    }
}

@media screen and (max-width: 980px) {
    .skill_section .left_cont,
    .rt_cont {
        width: 100%;
        float: none;
    }
    .skill_section .rt_cont {
        float: left;
        width: 100%;
    }
    .skill_section .rt_cont .skill_cont {
        width: 100% !important;
        padding-left: 5em !important;
    }
    .work-section .work-container {
        width: 100%;
        height: auto;
    }
    .work-box {
        width: 50%;
        border: none !important;
    }
}
